<header class="flex_header">
    <p class="logo"><a href="{{ page.link_index }}">José de la Puente</a></p>
    <a href="#bottom" class="collapse_desktop mobile_menu">Menu</a>
    <div class="collapse_mobile">
        <ul class="desktop_nav">
            <li><a class="{{ page.header_classes_index }}" href="{{ page.link_index }}">Start Here</a></li>
            <li><a class="{{ page.header_classes_problems }}" href="{{ page.link_problems }}">Problems</a></li>
            <li><a class="{{ page.header_classes_articles }}" href="articles.html">Articles</a></li>
            <li><a class="{{ page.header_classes_recommendations }}" href="{{ page.link_recommendations }}">Recommendations</a></li>
        </ul>
    </div>
</header>